{{!-- We can add extra logic here --}}
{{#if isLogged}}
<div id="template" type="x-tmpl-mustache">
        <p>Use the <strong>{{power}}</strong>, {{name}}!</p>
</div>
{{else}}
        <p>No product in the DB</p>       
{{/if}} 